body {
    background-color: #121212;
    /* Dark background */
    color: white;
    /* Light text */
    font-family: Arial, sans-serif;
}

.pagination {
    margin-top: 20px;
}

button {
    padding: 10px;
    margin: 0 5px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:disabled {
    background-color: #555;
    cursor: not-allowed;
}